.btn {
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media (max-width:576px) {
  .btn-sm {
    padding: 8px 16px;
  }
}

.btn-dark {
  background-color: $neutral-900;
  color: $neutral-0;
  &:hover {
    background-color: $neutral-700;
    transition: 0.4s;
  }
}

.btn-light {
  border: 1px solid $neutral-900;
  &:hover {
    background-color: $neutral-900;
    color: $neutral-0;
    transition: 0.4s;
  }
}

.btn-primary {
  background-color: $primary-300;
  &:hover {
    color: $primary-500;
  }
}